body{
    background-color: aliceblue;
    background-image: url(https://static.acg12.com/uploads/2015/08/7a228dfc14bc52d3fbbdcb500d7e9bdc.jpg);
    background-size: cover;
}
    

P{
    color:slateblue
}